*{
	display:block;
}

.button{
	font-family: Arial;
}
.input{
	display:flex;
	margin-right: 10px;
	justify-content: center;
}
#Youtube_Search{
	text-align: center;
}
h1{
	color: orange;
}
.navigation{
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-right: 20px;
}